<div class="eqLogic-widget eqLogic allowResize" style="width: #width#;height: #height#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#">
	<style>
	.fbxHid td{
		text-align:center; 
		vertical-align: middle;
		border:0px;
	}
	</style>
    <span class="statusCmd" style="position:absolute;left:5px;width:30px;"></span>
    <div style="position:relative;font-size:12px;">
			<center class="widget-name">
				<a href="index.php?v=d&amp;p=Freebox_OS&amp;m=Freebox_OS&amp;id=#id#" style="font-size : 1.5em;">#name#</a> 
				<span style="font-size: 0.85em;position: relative;top:-2px;"></span>
			</center>
		
			<table class="fbxHid" align="center">
				<tr>
					<td>#VCR/TV#</td>
					<td></td>
					<td>#Power#</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>#Keypad1#</td>
					<td>#Keypad2#</td>
					<td>#Keypad3#</td>
				</tr>
				<tr>
					<td>#Keypad4#</td>
					<td>#Keypad5#</td>
					<td>#Keypad6#</td>
				</tr>
				<tr>
					<td>#Keypad7#</td>
					<td>#Keypad8#</td>
					<td>#Keypad9#</td>
				</tr>
				<tr>
					<td></td>
					<td>#Keypad0#</td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td>#Up#</td>
					<td></td>
				</tr>
				<tr>
					<td>#Left#</td>
					<td action-id="ok">#Enter#</td>
					<td>#Right#</td>
				</tr>
				<tr>
					<td></td>
					<td>#Down#</td>
					<td></td>
				</tr>
				<tr>
					<td colspan="3">#manager#</td>
				</tr>
				<tr>
					<td class="IncDec">#VolInc#</td>
					<td>#Mute#</td>
					<td class="IncDec">#ChannelInc#</td>
				</tr>
				<tr>
					<td>VOL</td>
					<td></td>
					<td>PROG</td>
				</tr>
				<tr>
					<td class="IncDec">#VolDec#</td>
					<td action-id="rec">#Record#</td>
					<td class="IncDec">#ChannelDec#</td>
				</tr>
				<tr>
					<td>#Rewind#</td>
					<td>#Play/Pause#</td>
					<td>#Backspace#</td>
				</tr>
			</table>
	</div>
</div>
